<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="card-content">
        <div>
          <div class="header">{{companyDetails.title}}</div>
          <div class="sub-header">Company number: <span class="content">{{companyDetails.company_number}}</span></div>
        </div>
        @for (item of officerList(); track item.name) {
        <div>
          <div class="sub-header">{{item.name | titlecase}}</div>
          <div class="content">{{item.officer_role | titlecase}}</div>
        </div>
        }

      </div>
    </mat-card-content>
  </mat-card>
</div>