<div class="container">
  <div class="search-term alert">
    <input class="form-control" placeholder="Company name or number" id="name" type="text"
      [formControl]="searchTermControl">
    @if (searchTermControl.invalid && searchTermControl.touched) {
    <div>Search term is required</div>
    }
  </div>

  <button mat-flat-button [disabled]="searchTermControl.invalid" (click)="onSearch()">Search</button>
</div>


<!-- <div class="search-container d-flex justify-content-center align-items-center">
  <input type="text" [(ngModel)]="searchTerm" class="form-control form-control-lg"
    placeholder="Enter Company Name or Number..." (keyup.enter)="performSearch()">
  <button (click)="performSearch()" class="btn btn-primary btn-lg" [disabled]="!isValidSearchTerm()">Search</button>
</div> -->